.hours {

width:900px;
height:600px;
background:#222631;
color:#cccccc;
font-family:Verdana;
font-size:12px;
position:absolute;
left:0;
top:0;

}

.hoursHeader {

width:900px;
min-height:60px;
background:#1A1D27;
border-bottom:1px solid #474A64;

}

.hoursBack {

width:70px;
padding-top:23px;
padding-bottom:22px;
padding-left:20px;
background:#090C16;
float:left;

}

.hoursBack:hover {

background:#131620;

}

.sidebar {

width:150px;
height:538px;
background:#1A1D27;
overflow-x:hidden;
float:left;

}

.sidebarContent {

width:300px;
overflow-y:scroll;
overflow-x:hidden;

}

.sidebarMenu {

width:100%;
list-style:none;
padding:0;
margin:0;

}

.sidebarItem {

margin-bottom:2px;
width:230px;
padding-top:25px;
padding-bottom:25px;
padding-left:20px;
background:#090C16;

}

.sidebarItem:hover {

background:#131620;

}

.sidebarSpacer {

width:250px;
height:10px;

}

.hoursContent {

width:750px;
height:515px;
float:right;
overflow-y:scroll;
overflow-x:hidden;

}

.hoursTable {

width:750px;
border-collapse:collapse;
float:right;

}

.hoursTableHeader td {

width:107px;
background:#000000;
text-align:center;
font-weight:bold;
padding-top:5px;
padding-bottom:5px;

}

.hoursContentTable {

width:750px;
border-collapse:collapse;
float:left;

}

.hoursType1 td {

width:102px;
background:#1A1D27;
text-align:left;
padding-left:5px;
padding-top:5px;
padding-bottom:5px;

}

.hoursType2 td {

width:102px;
background:#090C16;
text-align:left;
padding-left:5px;
padding-top:5px;
padding-bottom:5px;

}