/*
CSS styles used on the home page
*/

.hero_background {
  background-image : linear-gradient(to right, rgba(30, 160, 100, 0.0), rgba(48, 179, 103, 0.0)),
                      url('/assets/images/home/creek1.jpg');


  background-repeat : no-repeat,
                      no-repeat;

  background-position: center,
                       center;;
}

.jumbotron h1 {
  font-weight: 500;
}

.ghost-button {
  border: 1px solid #44b2e4;
  color: #44b2e4;
  text-align: center;
  padding: 10px;
  width: auto; min-height: 50px;
  border-radius: 25px;
  transition: all 0.3s;
}

.ghost-button:hover {
  background-color: #44b2e4;
  color: #fff;
}
