#main1, #main2, #footer {margin:0 auto; width:906px; text-align:left;}

.col_1, .col_2, .col_3, .column_1, .column_2, .column_3 { float:left;}

#header, .width, .row_1, .row_2 {width:100%; overflow:hidden;}
#header2, .width, .row_1, .row_2 {width:100%; overflow:hidden}
.indent_row1 {padding-bottom:22px}

/*======= index.html =======*/
#page1 .row_1 .column_1 {width:321px;}
#page1 .row_1 .column_2 {width:585px;}
#page1 .row_2 .column_1 {width:322px;}
#page1 .row_2 .column_2 {width:307px;}
#page1 .row_2 .column_3 {width:277px;}
/*=========================*/

/*======= index-1B.html =======*/
#page2 .row_1 .column_1 {width:905px;}
#page2 .row_1 .column_2 {width:1px;}
#page2 .row_2 .column_1 {width:362px;}
#page2 .row_2 .column_2 {width:287px;}
#page2 .row_2 .column_3 {width:257px;}
/*=========================*/

/*======= index-2.html =======*/
#page3 .row_1 .column_1 {width:507px;}
#page3 .row_1 .column_2 {width:399px;}
#page3 .row_2 .column_1 {width:478px;}
#page3 .row_2 .column_2 {width:428px;}
#page3 .row_1 .col_1 {width:200px; padding-bottom:25px}
#page3 .row_1 .col_2 {width:156px; padding-bottom:25px}
#overview {
	width:855px;
	background:#222632;
	padding:20px 25px 25px 25px;
	margin:0 auto 30px auto;
	
}
#studies .row_1 .column_1 {width:200px;}
#studies .row_1 .column_2 {width:655px;}
#studies .row_2 .column_1 {width:355px;}
#studies .row_2 .column_2 {width:551px;}
#studies .row_2 .col_1 {width:281px}
#studies .row_2 .col_2 {width:231px}

/*=========================*/

/*======= index-4.html =======*/
#study2 .row_1 .column_1 {
	width:200px;
}
#study2 .row_1 .column_2 {width:600px;}
#study2 .row_2 .column_1 {width:355px;}
#study2 .row_2 .column_2 {width:551px;}
#study2 .row_2 .col_1 {width:281px}
#study2 .row_2 .col_2 {width:231px}
/*=========================*/

/*======= index-3.html =======*/
#page4b .row_1 .column_1 {width:350px;}
#page4b .row_1 .column_2 {width:556px;}
#page4b .row_2 .column_1 {width:355px;}
#page4b .row_2 .column_2 {width:551px;}
#page4b .row_2 .col_1 {width:281px}
#page4b .row_2 .col_2 {width:231px}
/*=========================*/

/*======= index-4.html =======*/
#page5 .row_1 .column_1 {width:586px;}
#page5 .row_1 .column_2 {width:320px;}
#page5 .row_2 .column_1 {width:618px;}
#page5 .row_2 .column_2 {width:288px;}
/*=========================*/

/*======= index-5.html =======*/
#page6 .row_1 .column_1 {width:600px;}
#page6 .row_1 .column_2 {width:300px;}
#page6 .row_2 .column_1 {width:326px;}
#page6 .row_2 .column_2 {width:311px;}
#page6 .row_2 .column_3 {width:269px;}
/*=========================*/

/*======= index-6.html =======*/
#page7 .row_1 .column_1 {width:905px;}
#page7 .row_1 .column_2 {width:643px;}

/*===========For students (Hours)==============*/
#hourslist {height:50px}
#hoursdiv {}
.hourslistitem {width:100px;font-family:"Century Gothic";font-size:15px;height:30px;padding:0px 10px 5px 10px;display: block;text-align: center;float:left;border:2px solid #66a;border-radius: 10px;margin:5px;background-color: #222632}

.hoursTable {
	border-collapse:collapse;
}

.hoursTable td {
	padding:5px;
}

.hoursTableRow1 {
	background:#1A1D27;
}

.hoursTableRow2 {
	background:#222631;
}
