* {
	margin:1;
	padding:0;
}
body {
	background:#1b1f2a;
	font-size:200%;
	line-height:1em;
	font-family:tahoma;
	color:#ffffff;
	text-align:center;
	font-size:.8em;
	line-height:1.27em;
	padding-bottom:6px
}


/*in_line*/
input, select, textarea { vertical-align:middle; font-weight:normal; font-family:tahoma; color:#8c8c8c; font-size:1em; font-weight:normal; padding-left:5px}
img {border:0; vertical-align:top; text-align:left;}
ul { list-style:none;}

/*==================list====================*/
ul{margin:0 0 12px 0; padding:0px; list-style:none}
ul li { line-height:2.5em}
ul li a{font-size: 14px; text-decoration:none; color:#fff; background:url(images/marker_list.gif) no-repeat 0 0; padding-left:23px; font-weight:normal !important}
ul li a:hover{ text-decoration:none; color:#6ab551}
/*==========================================*/
li.grants{
	line-height:18px;
	font-family:Verdana, Geneva, sans-serif;
	list-style:circle;
	margin-left:12px;
	margin-bottom:10px;
}
li.grants a{
	background:none; padding:0;margin:0;color:#56c0ff;
}

ol{
	margin-left:20px;

}

ol li{
	letter-spacing:1px;

}

a {text-decoration:none; color:#56c0ff; font-weight:normal}
a:hover {text-decoration:none; color:#88d246;}

a.link {text-decoration:none; color:#ff5100; float:right; font-weight:bold; margin:0 10px 0 25px}
a.link:hover {text-decoration:none}

h4 {color:#4b94eb; font-size:1em; margin:0 0 14px 0}

h3{
	font-weight:normal;
	font-size:1.3em;
	line-height:20px;
	letter-spacing:1px;
	font-family: tahoma;
	color: #009cf5;
	margin-bottom:4px; /*this was not in style-edited.css*/
}

p {margin:0 0 14px 0;
	color:#dedede;
	font-family:Tahoma, Geneva, sans-serif;
	letter-spacing:1pt;}
.p1 {margin:0 0 28px 0;}

p.small{
	font-size:1.2em;
	color: #80d732;
}

p.big{
	font-size:1.8em;
	color: #fff;
	font-weight:bold;
}

.font_1 {color:#FFFFFF;}
.recentnews{color:#09F; font-size:1.25em; letter-spacing:1px;}
.font_2 {color:#FFFFFF;}
.slightly-big{color:#09F;}

.fright {float:right; margin:14px 0 28px 0}
.clear { clear:both;}

.top_bg {background:url(images/bg_1.jpg) repeat center top; width:100%}
.top_bg2 {width:100%; background:url(images/top_bg.gif) repeat-x top}

/*header*/
#header { height:585px; background:url(images/header_bg.jpg) no-repeat 0 0}

.flash {position:absolute; margin:0 -37px 0 -37px}
/*header2*/
#header2 {
	height:235px;
	background:url(images/header_bg.jpg) no-repeat 0 0
}

.flash2 {position:absolute; margin:0 -37px 0 -37px}

#myGallery
{
	width: 800px;
	height: 900px;
	margin: 0 0 20px 0;
}

/*content*/
.title {margin-bottom:28px}
.title2 {margin-bottom:21px}
.title3 {margin-bottom:40px}
.title4 {margin-bottom:16px}
.img_left {float:left; margin:0 20px 0 0}
.img_left2 {float:left; margin:4px 13px 64px 0}
.img_left3 {float:left; margin:-2px 9px 20px 0}
.img_right {float:right; margin:20px 0 0 0}
.img_right2 {float:right; margin:13px 4px 64px 0}
.img_right3 {float:right; margin:9px -2px 20px 0}

.bg1 { background:#222632}
.bg2 { background:#1b1f2a}

.img {margin:0 9px 20px 0}

.phones {float:right; margin:0 55px 0 0}

/*footer*/
#footer_main {width:100%;  background:#10131c}
#footer {text-indent:13px; padding:23px 0 22px 0}
#footer a {color:#7aa8df; text-decoration:none; font-weight:bold}
#footer a:hover {text-decoration:none; color:#fff}

/*================== index.html ===================*/
#page1 .row_1 .column_1 .indent { padding:28px 20px 28px 23px}
#page1 .row_1 .column_2 .indent { padding:5px 20px 28px 23px}
#page1 .row_2 .column_1 .indent { padding:36px 15px 28px 22px}
#page1 .row_2 .column_2 .indent { padding:36px 42px 40px 0}
#page1 .row_2 .column_3 .indent { padding:36px 0 40px 0}

/*================== index-1.html ==================*/
#page2 .row_1 .column_1 .indent { padding:28px 20px 28px 23px}
#page2 .row_1 .column_2 .indent { padding:20px 25px 37px 23px}
#page2 .row_2 .column_1 .indent { padding:36px 60px 30px 22px}
#page2 .row_2 .column_2 .indent { padding:36px 42px 40px 0}
#page2 .row_2 .column_3 .indent { padding:36px 15px 40px 0}


/*================== index-1B.html ==================*/
#page2 .row_1 .column_1 .indent { padding:28px 20px 28px 23px}
#page2 .row_1 .column_2 .indent { padding:20px 25px 37px 23px}
#page2 .row_2 .column_1 .indent { padding:36px 60px 30px 22px}
#page2 .row_2 .column_2 .indent { padding:36px 42px 40px 0}
#page2 .row_2 .column_3 .indent { padding:36px 15px 40px 0}

/*================== index-2.html ==================*/
#page3 .row_1 .column_1 .indent { padding:28px 20px 38px 23px}
#page3 .row_1 .column_2 .indent { padding:20px 25px 4px 23px}
#page3 .row_2 .column_1 .indent { padding:36px 60px 66px 22px}
#page3 .row_2 .column_2 .indent { padding:36px 30px 40px 0}

/*================== index-3.html ==================*/
#page4 .row_1 .column_1 .indent { padding:28px 20px 49px 23px}
#page4 .row_1 .column_2 .indent { padding:20px 20px 4px 23px}
#page4 .row_2 .column_1 .indent { padding:36px 50px 57px 22px}
#page4 .row_2 .column_2 .indent { padding:36px 25px 40px 0}

/*================== index-3b.html ==================*/
#page4b .row_1 .column_1 .indent { padding:28px 20px 49px 23px}
#page4b .row_1 .column_2 .indent { padding:20px 20px 4px 23px}
#page4b .row_2 .column_1 .indent { padding:36px 50px 57px 22px}
#page4b .row_2 .column_2 .indent { padding:36px 25px 40px 0}

/*================== study2.html ==================*/
#study2 .row_1 .column_1 .indent { padding:28px 20px 49px 23px}
#study2 .row_1 .column_2 .indent { padding:20px 20px 4px 23px}
#study2 .row_2 .column_1 .indent { padding:36px 50px 57px 22px}
#study2 .row_2 .column_2 .indent { padding:36px 25px 40px 0}

/*================== index-4.html ==================*/
#page5 .row_1 .column_1 .indent { padding:28px 25px 27px 23px}
#page5 .row_1 .column_2 .indent { padding:20px 20px 22px 32px}
#page5 .row_2 .column_1 .indent { padding:36px 47px 57px 22px}
#page5 .row_2 .column_2 .indent { padding:36px 20px 40px 0}


/*================== index-5.html ==================*/
#page6 .row_1 .column_1 .indent { padding:28px 30px 15px 23px}
#page6 .row_1 .column_2 .indent { padding:20px 25px 20px 32px}
#page6 .row_2 .column_1 .indent { padding:36px 60px 34px 22px}
#page6 .row_2 .column_2 .indent { padding:36px 58px 44px 0}
#page6 .row_2 .column_3 .indent { padding:36px 24px 48px 0}

/*================== index-6.html ==================*/
#page7 .row_1 .column_1 .indent { padding:28px 30px 24px 23px}
#page7 .row_1 .column_2 .indent { padding:20px 28px 19px 23px}
#page7 .row_2 .column_1 .indent { padding:36px 15px 34px 22px}
#page7 .row_2 .column_2 .indent { padding:36px 62px 44px 0}
#page7 .row_2 .column_3 .indent { padding:36px 24px 14px 0}

/*================== index-7.html ==================*/
#page8 .row_1 .indent { padding:28px 30px 47px 23px}
#page8 .row_2 .indent { padding:36px 30px 34px 23px}

input {width:233px; height:19px}
.div_input {height:26px}
textarea {width:235px; height:96px; overflow:auto; margin-bottom:32px; display:block}
.div_links {text-align:right}
